



body{
    background-color: #F3F5FC;  /*#F3F5FC*/
    margin: 0;
}


.logo{
    padding: 3% 0% 5% 0%;
    display: block;
}

.icon-exclamation{
    color: red;
}

.img-not-found{
    width: 220px;
    padding-top: 200px;
}

.text-tarea{
    background-color: inherit;
    color: darkblue;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;

    margin: 1% 5% 3% 15%;
    border: none;
    vertical-align: top;

    width: 45%;
    height: 46vh;

    resize: none;
        
}

.text-tarea:focus{
    outline: none;
}

.text-tarea::placeholder{
    color: darkblue;
    font-size: 32px;
}

.buttons{
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
}

.barra-principal p{
    font-size: small;
    color: rgba(69, 86, 95, 0.7);
}

.button-blue{
    background-color: darkblue;
    color: lightblue;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    margin-right: 2%;
    margin-bottom: 2%;

}

.button-grey{
    background-color: #D8DFE8;
    ;
    color: darkblue;
    width: 328px;
    height: 67px;
    border: 1px solid darkblue;
    border-radius: 24px;
    /* margin-bottom: 5%; */
}



.barra-lateral-1{
    display: block; 
    background-color: white;
    width: 300px;
    height: 85vh;
    border-radius: 32px;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    right: 10%;
    top: 5%
}

.barra-lateral-2{
    display: none; 
    background-color: white;
    width: 320px;
    height: 85vh;
    border-radius: 32px;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    right: 10%;
    top: 5%;

    /* overflow-y: auto; */

}

.button-copy{
    background-color: inherit;
    color: darkblue;
    width: 90%;
    height: 50px;
    border: 1px solid darkblue;
    border-radius: 20px;

    position: absolute;
    bottom: 10px;
    /*Coloca el borde izquierdo del botón en el centro de la caja*/
    left: 50%; 
    transform: translateX(-50%); /*Mueve el elemento 50% a la izquierda*/
    
    
}

.bold-text{
    font-weight: bold;
    font-size: 20px;
}

.normal-text{
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-wrap: break-word;

    font-size: 21px;
    margin: 10%;
    text-align: left;
}

footer{
    color: rgba(120, 120, 120, 1);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 15px;
}


@media screen and (max-width:1400px) {

    .text-tarea{
        width: 70%;
        height: 50vh;
    }

    .barra-lateral-1 {
        position: relative;
        width: 80%;
        height: 130px;

        margin-left: auto;
        margin-right: auto;
        padding: 4%;

        right: 0%;
    }

    .barra-lateral-2{

        position: relative;
        width: 80%;

        margin-left: auto;
        margin-right: auto;

        right: 0%;

        padding-top: 0px;
        height: auto;
    }

    .normal-text{
        height: auto;
        margin: 20px 6%;
    }

    .button-copy{
        position: relative;
        transform: translateX(-55%); /*Mueve el elemento 50% a la izquierda*/
    }

    .buttons{
        /* position: relative; */
        /* background-color: red; */
        /* display:s block; */
        width: 675px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }



    .img-not-found{
        display: none;
    }
}

@media screen and (max-width:690px) {

    .text-tarea{
        /* width: 90%; */
        height: 350px;
    }

    .barra-lateral-1{
        position: relative;
        width: 80%;
        height: 130px;

        margin-left: auto;
        margin-right: auto;
        padding: 4%;

        right: 0%;
    }

    .buttons{
        /* position: relative; */
        /* background-color: red; */
        /* display:s block; */
        width: 300px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .button-blue , .button-grey{
        width: 300px;
    }


    .img-not-found{
        display: none;
    }
}